
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a{
    text-decoration:none; color: inherit
  }
}

.login {
  width: var(--container, 576px);
  height: 844px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  margin: 30px auto;
  border: 1px solid #E0E0E0;
  
  header{
    width: 100%;
    height: 69.1%;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainLogo{
      margin-bottom: 24px;
    }
    
    .textLogo{
      width: 143px;
      height: 32px;
    }

  }
  
  .textBlock{
    width: 100%;
    height: 30.9%;
    padding: 0 24px 40px 24px;
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;

    #email, #password, #btn{
      height: 56px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #E0E0E0;
      padding: 19px 0 15px 16px;
      font-size: 16px;
    }
    
    #email{
      margin-bottom: 8px;
    }
    
    #btn{
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: #2D71F7;
      border: none;
      text-align: center;
      line-height: normal;
      padding-left: 0;
      margin: 16px 0;
    }
    
    ul{
      list-style: none;
      display: flex;
      align-items: center;

      li{
        width: 106px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-family: "Apple SD Gothic Neo";
        line-height: normal;
      }

      li:first-child{
        padding-right: 24px;
        border-right: 1px solid #E0E0E0;
      }
      
      li:last-child{
        padding-left: 24px;
      }

    }


  }


}

