@import "../../../styles/mixin.scss";

* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  @include flexCenter;

  .joinInfo {
    width: 576px;
    height: 844px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;

    header {
      width: 576px;
      height: 56px;
      margin-bottom: 24px;
      padding: 8px 0 8px 0px;

      .backDiv {
        height: 40px;
        display: flex;
        align-items: center;

        .backArrow {
          margin-right: 4px;
          cursor: pointer;
        }

        .back {
          font-size: 20px;
        }
      }
    }

    section {
      padding: 0px 24px;
      margin-bottom: 67px;

      h1 {
        font-size: 24px;
        margin-bottom: 24px;
      }

      .text {
        width: 100%;
        height: 22px;
        @include flexSort(space-between, center);
        align-self: stretch;
        margin-bottom: 8px;

        .text1 {
          font-size: 16px;
        }

        .text2 {
          font-size: 12px;
          color: #ff3636;
        }
      }

      .list {
        width: 528px;
        height: 184px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        margin-bottom: 24px;

        .email {
          width: 100%;
          height: 56px;
          padding: 19px 0 15px 16px;
          border-radius: 6px;
          border: 1px solid #e0e0e0;
          @include textStyle(16px, 400);
          color: #999999;
        }

        .pwd {
          width: 100%;
          height: 56px;
          padding: 19px 0 15px 16px;
          border-radius: 6px;
          border: 1px solid #e0e0e0;
          @include textStyle(16px, 400);
          color: #999999;
        }

        .pwdCheck {
          width: 100%;
          height: 56px;
          padding: 19px 0 15px 16px;
          border-radius: 6px;
          border: 1px solid #e0e0e0;
          @include textStyle(16px, 400);
          color: #999999;
        }
      }

      .nick {
        position: relative;
        width: 100%;
        height: 86px;
        margin-bottom: 24px;

        label {
          width: 100%;
          height: 22px;
          font-size: 16px;

          .notEssential {
            position: absolute;
            height: 22px;
            right: 0;
            line-height: 22px;
            color: #999;
            font-size: 12px;
          }
        }

        #nickName {
          width: 100%;
          height: 56px;
          padding: 19px 0 15px 16px;
          border-radius: 6px;
          border: 1px solid #e0e0e0;
          @include textStyle(16px, 400);
          color: #999999;
          margin-top: 8px;
        }
      }

      .phone {
        width: 100%;
        height: 86px;
        position: relative;
        margin-bottom: 24px;

        label {
          width: 100%;
          height: 22px;
          font-size: 16px;

          .notEssential {
            position: absolute;
            height: 21px;
            line-height: 21px;
            right: 0;
            color: #999;
            font-size: 12px;
          }
        }

        .selectInput {
          width: 100%;
          display: flex;
          align-items: flex-start;

          select {
            display: flex;
            width: 136px;
            height: 56px;
            padding: 16px 14px 15px 16px;
            margin-top: 8px;
            margin-right: 8px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            font-size: 16px;
            color: #999999;
          }

          #phoneNumber {
            width: 383px;
            height: 56px;
            padding: 19px 0 15px 16px;
            margin-top: 8px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            font-size: 16px;
            color: #999999;
          }
        }
      }

      .birth {
        width: 100%;
        height: 86px;
        position: flex;

        label {
          width: 100%;
          height: 22px;
          font-size: 16px;
          display: flex;
          justify-content: flex-start;

          .notEssential {
            position: absolute;
            height: 22px;
            line-height: 21px;
            right: 0;
            color: #999;
            font-size: 12px;
          }
        }

        .selectBox {
          width: 100%;
          height: 56px;
          gap: 8px;
          margin-top: 8px;
          display: flex;

          .yearWrap {
            width: 136px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            @include flexCenter;
            padding: 16px 14px 15px 16px;

            .birthYear {
              width: 100%;
              border-style: none;
              font-size: 16px;
              color: #999999;
            }
          }

          .monthWrap {
            width: 188px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            @include flexCenter;
            padding: 16px 14px 15px 16px;

            .birthMonth {
              width: 100%;
              border-style: none;
              font-size: 16px;
              color: #999999;
            }
          }

          .dayWrap {
            width: 188px;
            border-radius: 6px;
            border: 1px solid #e0e0e0;
            @include flexCenter;
            padding: 16px 14px 15px 16px;

            .birthDay {
              width: 100%;
              border-style: none;
              font-size: 16px;
              color: #999999;
            }
          }
        }
      }
    }

    footer {
      width: 576px;
      padding: 0 24px 40px 24px;

      button {
        width: 528px;
        height: 56px;
        @include flexCenter;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #2d71f7;
        font-size: 18px;
        color: white;
      }
    }
  }
}
